@model Filminurk.Models.Actors.ActorsDeleteViewModel

<h1>Kustuta Näitleja</h1>

<div>
	<h4>Näitleja</h4>
	<hr/>
	<dl class="row">
		
		<div class="form-group-row">
			<label asp-for="ActorID" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.ActorID)
		</div>
	</dl>
	<dl class="row">
		<div class="form-group-row">
			<label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.FirstName)
		</div>
	</dl>
	<dl class="row">
		<div class="form-group-row">
			<label asp-for="LastName" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.LastName)
		</div>
	</dl>
	<dl class="row">
		<div class="form-group-row">
			<label asp-for="NickName" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.NickName)
		</div>
	</dl>
	<dl class="row">
		<div class="form-group-row">
			<label asp-for="FavouriteGenre" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.FavouriteGenre)
		</div>
	</dl>
	<dl class="row">
		<div class="form-group-row">
			<label asp-for="HasAwards" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.HasAwards)
		</div>
	</dl>
	<dl class="row">
		<div class="form-group-row">
			<label asp-for="American" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.American)
		</div>
	</dl>

	<dl class="row">
		<div class="form-group-row">
			<label asp-for="MoviesActedFor" class="col-sm-2 col-form-label"></label>
			@foreach (var movie in Model.MoviesActedFor)
			{
				string txtmovie = movie + ", ";
				@Html.DisplayFor(mov => txtmovie)
			}
		</div>
	</dl>

	<dl class="row">
		<div class="form-group-row">
			<label asp-for="EntryCreatedAt" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.EntryCreatedAt)
		</div>
	</dl>
	<dl class="row">
		<div class="form-group-row">
			<label asp-for="EntryModifiedAt" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.EntryModifiedAt)
		</div>
	</dl>
	<hr />
	<form method="post" role="form"> 
		<input type="hidden"  asp-for="ActorID" />
		<input type="submit" asp-action="DeleteConfirmation" asp-route-id="@Model.ActorID" value="Kustuta" class="btn btn-danger" />
		<a asp-action="Index" asp-controller="Actors" class="btn btn-success">Tagasi loendisse</a>
	</form>
</div>